.topPanelContainer {
	text-align:left;
	border:1px solid #ccc;
}

.topPanel {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0;
    margin: 10px 10px 0;
}

.title {
    font-size: larger;
    font-weight: bold;
}

.poweredByImage {
	vertical-align: middle;
	margin:12px 8px 8px 0;
}

img {
    border: none;
}
