[[orgs]]
name = "Expression"
definitionFile = "config/dev.json"

[commands]
ls = "sf org list --skip-connection-status"
deploy = "sf project deploy start"
assign-perms = "sf org assign permset -n Expression_Admin"
test = "sf apex test run --test-level RunLocalTests --wait 20"
docs = "apexdocs markdown"
generate-library-docs = "bun scripts/generate-library-docs.mjs"
prep-package = "bun scripts/prepare-for-packaging.mjs"
run-package = "cirrus package create -p Expression -t minor -x -c --promote -w 60"
post-package = "bun scripts/post-packaging.mjs"
import-data = "sf data import tree -p unpackaged/examples/expression-conf/data/data-plan.json"

[flow.start-dev]
description = "Starts a new development environment"
steps = [
    { type = "create_scratch", org = "Expression" },
    { type = "command", name = "deploy" },
    { type = "command", name = "assign-perms" },
    { type = "command", name = "import-data" },
]

[flow.package]
description = "Create a managed package version for Expression"
steps = [
    { type = "command", name = "prep-package" },
    { type = "command", name = "run-package" },
    { type = "command", name = "post-package" },
]
