.host {
    --slds-c-card-body-spacing-block-end: 0;
}
.lgc-bg {
    background-color: rgb(242 242 242);
}
.top-right {
    position: absolute;
    top: 20px;
    right: 40px;
}
.overflow-hidden {
    overflow: hidden;
}
.container-bound {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
