name: Build

on:
  push:
    branches: [main]
    paths:
      - 'expression-src/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install NPM
        run: |
          npm install 

      - name: Install Salesforce CLI
        run: npm install @salesforce/cli --global

      - name: Populate auth file with SFDX_URL secret
        shell: bash
        run: echo ${{ secrets.DEV_HUB_AUTH_URL}} > ./SFDX_URL_STORE.txt

      - name: Authenticate against dev hub
        run: sf org login sfdx-url --sfdxurlfile=./SFDX_URL_STORE.txt --alias=devhub --set-default-dev-hub
